@import 'tailwindcss';

@config '../tailwind.config.js';

@layer utilities {
	html {
		@apply overflow-hidden bg-gray-900 text-amber-50;
	}

	.card {
		@apply flex flex-col gap-7 rounded-3xl bg-neutral-100/10 p-7 backdrop-blur-2xl;
	}

	.card * {
		@apply m-0! rounded-3xl;
	}

	img {
		@apply rounded-3xl;
	}

	video {
		@apply rounded-3xl;
	}

	.mermaid {
		@apply flex h-full w-full items-center justify-center;
	}

	.mermaid-diagram {
		@apply w-full;
	}
}
